@import '../../style/variables.scss';

.menu {
	width: 90%;
	margin: 55px auto;

	&_head {
		height: 50px;
		line-height: 50px;
		margin-bottom: 13px;
		border-bottom: 2px solid $color-horizontal-line;

		&_title {
			font-size: px-to-rem(32px);
		}
	}

	&_hotDogList {
		display: flex;
		flex-wrap: wrap;
		padding: 0 10px;
	}
}
