@import '../../../style/variables.scss';

.menuItem {
  width: 280px;
  margin: 10px;

  &_image {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  &_title {
    font-size: px-to-rem(30px);
  }

  &_price {
    color: grey;
  }
  &_description {
    line-height: 15px;
    margin: 12px 0;
    height: 80px;
  }

  &_button {
    @include button;
  }
}